@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {

    --primary-color: rgb(235, 84, 64);
    --secondary-color: #4A4B4C;
    --tertiary-color: #F6F6F6;
    --tertiary-color-2: #C3C3C3;


}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    /* background-color: #d8d8d8; */
}


/* Form elements like the button, input, textarea and select dont inherit properties. Therefore,
im explictly telling it to inherit the font-family value declared in the body */
button, input, select, textarea {
    font-family: inherit;
}

