/* Imports the declarations in the base.css */
@import './base.css';


/******* Defining global declarations that will be used across my entire application ******/


/* Used it to hold my components  */
.container {
  width: 90%;
 
  max-width: 1260px;
  margin: 0 auto;
}



.flex {
  display: flex;
  gap: 10px;
  /* width: 100%; */
}

.text-center {
  text-align: center;
}

.text-muted {
  color: rgb(116, 116, 116);
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.accent-logo {
  color: var(--primary-color);
  font-weight: bold;
}



